<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="taskSchedulerEngine"
             type="TaskSchedulerEngine.Configuration.TaskSchedulerEngineConfigurationSection, TaskSchedulerEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <taskSchedulerEngine>
    <schedule>
      <at month="*"
          dayOfMonth="*"
          dayOfWeek="*"
          hour="*"
          minute="*"
          second="0,10,20,30,40,50"
          kind="Utc">
        <execute>
          <task type="TaskSchedulerEngine.ConsoleWriteTask, TaskSchedulerEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                parameters="" />
        </execute>
      </at>
    </schedule>
  </taskSchedulerEngine>
</configuration>